
header
{
 min-height: 80px;
}

.nav.navbar-brand
{
	padding: 0px 15px 0px 5px;

}

.nav.navbar-header
{
 min-height: 80px;
}

.img-responsive.BDE-image
{
	display: inline; 
	max-height: 80px; 
	width: auto; 
	padding-right: 15px;
}

.body.relative
{
	position: relative;


}

.navActivity
{
	text-align: center;
	margin-top: 2%;
	
}
.nav.navbar-nav.contenu 
{
	float: none;
	display: inline-block;
    
vertical-align: top;

}

.navActivity ul li a{
	color: white;
}


header div .nav li a {
			padding-top: 30px;
			padding-bottom: 30px;
		}

html
{
	position: relative;
	min-height: 100%;
	height: 100%;

}

body
{
	margin-bottom: 0px;
	height: 100%;
}


.footer 
{
	background-color: #192121;
	
	width: 100%;
	padding-top: 15px;
}

.footer div div p a 
{
	text-align: center;
	color: #595959;
}

.footer div div p 
{
	text-align: center;
	color: #c2242a;
}