#fb
{ 
	width: 100%; 
}




.body.relative
{
	position: relative;


}

.navActivity
{
	text-align: center;
	margin-top: 2%;
	
}
.nav.navbar-nav.contenu 
{
	float: none;
	display: inline-block;
    
vertical-align: top;

}

.navActivity ul li a{
	color: white;
}


