
                <div class="col-md-6">
                    <div class="row" >
                        <img  class="col-xs-12 img-responsive img-gallery" src="http://img1.bonnesimages.com/bi/swag/swag_006.gif" alt="first-gallery-img">
                    </div>
                    <div class="comment-block">
                        <div class="row">
                            <p class="col-xs-3">23 Likes</p>
                            <p class="col-xs-3 col-xs-offset-6">2 comments</p>
                        </div>

                        <div class="row">
                            <div class="col-xs-2 like-part"><button class="like">like</button></div>
                            {# form #}
                        </div>
                    </div>
                </div>