{% extends "::layout.html.twig" %}
{% block title %}
 	Shop
{% endblock %}

{% block body %}

<div class="row">
	
		<aside class="sidebar col-xs-2">
			<nav>
				<ul class="list-group">
					<li><h3 class="list-group-item list-group-title">Products</h3></li>
					<li class="list-group-item"><a href="{#{{ path() }}#}" class="list-group-product">all</a></li>
					<li class="list-group-item"><a href="{#{{ path() }}#}" class="list-group-product">pull-over</a></li>
					<li class="list-group-item"><a href="{#{{ path() }}#}" class="list-group-product">goodie</a></li>
				</ul>
			</nav>
		</aside>
		<section class="col-xs-9 essai">
			<div class="row">
				<h1 class="col-md-12 board-title">Shop</h1>
			</div>
			{% block article %}
			{% endblock %}

            {% if app.session.get('status') %}
                {% if app.session.get('status')[0] == "Admin" or  app.session.get('status')[0] == "Teacher" %}
					<div>
						<button class="row col-md-2 col-md-offset-5 btn btn-primary" onclick="window.location='{{ path('bcl_shop_add_article') }}'">New Article</button>
					</div>
                {% endif %}
            {% endif %}

			
		</section>
	</div>

	{% endblock %}