{% extends "BCLActivityBundle::activityBundle.html.twig" %}

{% block title %}
    Future Activities Example
{% endblock %}

{% block activity %}

    <div class="row">
        <article class="col-xs-10 col-xs-offset-1 activity-exemple-article">
            <div class="row activity-exemple-block" >
                <div class="col-md-2 activity-exemple-part" >
                    <img src="http://www.unesourisetmoi.info/wall32/images/paysage-fonds-ecran_09.jpg" alt="activity presentation" class="img-responsive img-activity-exemple">
                </div>
                <div class="col-md-8">
                    <h2 class="col-md-12 description-title">{{ activity.name }}</h2>
                    <p class="col-md-12">{{ activity.description }}
                    </p>
                </div>
            </div>
            <div>
                {# form #}
                <div class="col-md-4 col-md-pull-4 back-button-block">
                    <a href="{#{{ path() }}#}" class="btn btn-default">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Back to Future Activities
                    </a>
                </div>
            </div>
        </article>
    </div>
{% endblock %}
