{% extends "::layout.html.twig" %}

{% block title %}
	BDE Members
{% endblock %}

{% block body %}

	<div class="row ">
		<section class="col-xs-10 col-xs-offset-1 essai bdemembers-section" >
				<div class="row">
					<h1 class="col-md-12 board-title">BDE Members</h1>
				</div>
				<div class="row bdemembers-part">
					<article>
						<div class="media col-xs-6">
							<div class="media-left col-xs-4">
								<img src="{{ asset('images/membreBDE1.png') }}" class="img-responsive img-bdemembers"/>
							</div>	
							<div class="media-body">
								<h3 class="media-heading">Victor Zimmermann</h3>
								<p>Student Council President</p>
							</div>
						</div>
					</article>
					<article>
						<div class="media col-xs-6">
							<div class="media-left col-xs-4">
								<img src="{{ asset('images/membreBDE2.png') }}" class="img-responsive img-bdemembers"/>
							</div>
							<div class="media-body">
								<h3 class="media-heading">Nathaël Robert</h3>
								<p>Treasurer</p>
							</div>
						</div>
					</article>
				</div>
				<div class="row bdemembers-part">
					<article>
						<div class="media col-xs-6">
							<div class="media-left col-xs-4">
								<img src="{{ asset('images/membreBDE3.png') }}" class="img-responsive img-bdemembers"/>
							</div>	
							<div class="media-body">
								<h3 class="media-heading">Eric Chirac</h3>
								<p>Vice secretary</p>
							</div>
						</div>
					</article>
					<article>
						<div class="media col-xs-6">
							<div class="media-left col-xs-4">
								<img src="{{ asset('images/membreBDE4.png') }}" class="img-responsive img-bdemembers"/>
							</div>	
							<div class="media-body">
								<h3 class="media-heading">Paul Belin</h3>
								<p>Event Manager</p>
							</div>
						</div>
					</article>
				</div>
			</section>
	</div>

{% endblock %}